/*.custom-button.button--primary {
    background: #4fd6c5;
    color: #ffffff;
}

.custom-button.button--primary::after {
    display: none;
}

.custom-button.button--primary::before {
    background: #2dcab7;
}

.custom-button.button--primary:hover {
    background: #2dcab7;
}
*/

.no-javascript-4-real {
    justify-content: right;
}

.two-announcement {
    display: flex;
    flex-direction: row;
}

.announcement-bar__announcement {
    text-wrap: nowrap;
}

.two-announcement .grid__item {
    width: 20vw;
}

.announcement-bar__message span {
    display: flex;
    gap: 10px;
}

.card__content{
    justify-content: center;
    color: #552473;
    text-align: center;
}

.price__container {
    width: 100%;
    text-align: center;
}

.multicolumn-card__info .rte { /* color for price in program list */
    color: #edc0bd;
}

span.custom-button-hover {
    displaY: flex;
    z-index: 10;
    width: 50%;
} /*experimental, mostrar a R2D2 */

.multicolumn-card.content-container {
    height: auto;
}

img.multicolumn-card__image {
    object-fit: contain;
}

.media.media--transparent.media--adapt {
    height: 57px;
    width: auto !important;
}

p.login-text {
    font-weight: 800;
}

a.header__icon.header__icon--account.link.focus-inset.small-hide {
    width: 100%;
    gap: 5px;
    text-decoration: none;
}

.header__icon.header__icon--cart.link.focus-inset {
    padding-right: 20px;
}

.title-wrapper-with-link.title-wrapper--self-padded-mobile.title-wrapper--no-top-margin {
    justify-content: center;
    text-transform: uppercase;
    font-size: 16px;
    padding-bottom: 25px;
}

.collection__title.title-wrapper.title-wrapper--no-top-margin.page-width.title-wrapper--self-padded-tablet-down.collection__title--desktop-slider {
    display: flex;
    justify-content: center;
}

.custom-email-heading-size {
    font-size: 16px;
}

.social-links-custom {
	display: inline-block;
	width: 80% !important;
	padding-top: 25px;
}

.button--margin__left {
    margin-left: 15px;
}

.custom-display-section {
    display: inline-block !important;
}

.price__regular {
    color: #EDC0BD;
}

.card__button--hoverable {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 10;
    width: 100%;
    margin-top: 75%;
    opacity: 0;
}

.card__button--hoverable:hover  {
    opacity: 1;
}

.image-with-text__media.image-with-text__media--adapt.gradient.color-scheme-9f229c5d-8247-4077-84a0-69cce587402b.global-media-settings.media {
    background-color: transparent;
    border: 0;
}

.custom-bg {
    position: absolute;
    width:100%;
}

.custom-bg img {
  width: 110%;
  height: 110%;
}

.image-with-text__text-item.grid__item.custom-spacing {
    margin-left: 70px;
    margin-top: 50px;
}

a.button.button--margin__left.button--secondary {
    background-color: transparent;
}

.multicolumn-card__stars{
    position: absolute;
    margin-left: 75%;
    margin-top: 15px;
}

.media.footer.media--transparent.media--square {
    width: 150px;
}

.multicolumn-card-spacing-footer {
    padding-top: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.multicolumn-card.content-container-footer {
    display: flex;
}

.inline-second-richtext {
    color: #000;
    padding-bottom: 7px;
}

.footer__blocks-wrapper {
    gap: 13%;
}

.custom-heading-size {
    font-size: 16px;
    color: #361E45;
}

form {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid; /* Puedes cambiar el color según tus preferencias */
}

.title-wrapper-with-link {
    justify-content: center;
}
/*
.card .card__inner .card__media {
    width:100%;
    height:200%;
}

.card__information {
    z-index: 1;
    text-align: left;
}*/